{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="text-center pb-3 text_effect">Password Change page</h2>
     <div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5 col-sm-5 mx-auto">
                 {{ form | crispy }}
                <input type="submit" value="Password" class="btn btn-primary btn-lg btn-block">


            </div>

        </div>

    </form>

    </div>

{% endblock content %}