{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="text-center pb-3 text_effect">Reset Password</h2>
            <form method="post">
                {% csrf_token %}

                 <div class="row ">
                    <div class='col-md-5 col-sm-5 mx-auto'>
                        {{ form | crispy }}
                        <button type="submit" class="btn-primary btn-lg btn-block btn-primary">Sent link for password reset</button>
                    </div>
                 </div>

            </form>



{% endblock content %}