*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.man{
    height: 100px;
    width: 100%;
    background-color: white;
    position: relative;
}

.man img{
    width: 100px;
    height: 95px;
    position: absolute;
    left: 0;
    bottom: 1px;
    animation-name:man_run;
    animation-duration:5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes man_run {
    from{left: 0}
    to{left: 100%}
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-link,ul,li{
    list-style-type: none;
    display: inline-block;


}
.social{
    width: 30px;
    height: 30px;
}

.pic{
    border-radius: 100px;
}

.border-3 {
    border-width:3px !important;
}




